@use "../../../assets/variables/variables";
.button {
  background-color: variables.$primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 90px;
  width: 100%;
  font-family: variables.$font-family-inter;
  font-weight: 500;
}
.button2 {
  background-color: variables.$cancel-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 90px;
  width: 100%;
  font-family: variables.$font-family-inter;
  font-weight: 500;
}
